.mat-toolbar {
  background-color: cornflowerblue;
  font-size: calc(5px + 0.7vw);
  font-weight: 700s;
  gap: 1.5vw;
  height: 3vw;
  min-height: 2vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  gap: 0.3vw;
  align-items: center;
}

a {
  color: pink;
  font-weight: bold;
}
