.about-this-container {
  display: flex;
  height: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  background-size: cover;
  top: 4vw;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
