.background-image {
  position: absolute;
  height: -webkit-fill-available;
  width: auto;
  opacity: 0.2;
  background-size: cover;
  top: 4vw;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.buttons-container {
  display: flex;
  gap: 1vw;
  position: fixed;
  top: 4vw;
}

.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: rgb(37, 89, 185);
  font-weight: bold;
  text-align: center;
}

.home-name {
  // font-size: 4vw;
  font-size: calc(10px + 3vw);
}

.home-intro {
  // font-size: 2.5vw;
  font-size: calc(10px + 2vw);
}

.home-description {
  // font-size: 2.5vw;
  font-size: calc(10px + 2vw);
}

.toggle-button {
  background-color: pink;
  color: white;
  display: flex;
  // font-size: 1.1vw;
  font-size: calc(8px + 0.6vw);
  font-weight: bold;
  width: auto;
  height: auto;
  min-height: auto;
  padding: 0.5vw;
}
