.projects-container {
  display: flex;
  background-color: rgb(232, 237, 243);
}

.loader-spin {
  height: 50%;
}

.project-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;
  margin: 5vw;
}

.projects-page-title {
  font-size: calc(10px + 2vw);
  color: rgb(37, 89, 185);
  margin: 5vw;
  display: flex;
  justify-content: center;
}
