<div *ngIf="this.loader.getLoading()"
    class='loader-spiner center-all'>
    <mat-spinner></mat-spinner>
</div>

<div class="projects-container">
    <div *ngIf="!this.loader.getLoading()">
        <div class="projects-page-title">
            My Web Developer projects!
        </div>
        <div class="project-cards-container">
            <div *ngFor="let project of projects">
                <app-project-card [project]="project"></app-project-card>
            </div>
        </div>
    </div>
</div>