.project-card-container {
  width: 380px;
  height: 600px;
  background-color: rgb(178, 245, 210);
  border-radius: 15px;
}

.sub-text {
  display: flex;
  font-size: small;
  gap: 4px;
  align-items: center;
  color: rgb(37, 20, 56);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-mdc-card-header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-image {
  margin: 10px;
  height: 250px;
  width: auto;
  border-radius: 18px;
}

.mat-tooltip-container {
  font-family: 'Lora', serif;
  color: black;
  background-color: yellow;
}
