.project-card-container {
  max-width: 400px;
  z-index: -1;
  background-color: antiquewhite;
}

.tech-lang-text {
  display: flex;
  font-size: small;
  gap: 4px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-mdc-card-header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}
