.project-card-container {
  width: 380px;
  height: 600px;
  background-color: rgb(178, 245, 210);
  border-radius: 15px;
}

.sub-title-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: 315px;
  min-height: 20px;
}

.sub-text {
  display: flex;
  font-size: small;
  align-items: center;
  color: rgb(37, 20, 56);
  height: 8px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-mdc-card-header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar-container {
  display: flex;
  align-items: center;
  margin: 0; // existing class has marging bottom .mat-mdc-card-avatar
}

.card-image {
  margin: 10px;
  height: 250px;
  width: auto;
  border-radius: 18px;
}

.links {
  display: flex;
  font-size: small;
  gap: 4px;
  align-items: center;
  color: orange;
  font-weight: bold;
}

.resources-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.project-description {
  text-align: justify;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4px;
  height: 250px;
}

// TODO: change tooltip style
// .mat-tooltip-container {
//   font-family: 'Lora', serif;
//   color: black;
//   background-color: yellow;
// }
