.mat-toolbar {
  background-color: cornflowerblue;
  // font-size: 1.5vw;
  font-size: calc(9px + 0.8vw);
  font-weight: 600;
  gap: 1.5vw;
  height: 4vw;
  min-height: 2vw;
  position: fixed;
  top: 0;
}
